* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(145, 98%, 70%);
    min-height: 100vh;
}

main {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 900px) {
    main {
        width: 90%;
    }
}

header {
    font-size: 24pt;
    text-align: center;
}

header h1 {
    margin: 0;
}

#rock {
    color: grey;
}

#paper {
    color: white;
}

#scissors {
    color: red;
}

.game-card {
    width: 100%;
    background-color: skyblue;
    border-radius: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.players {
    display: flex;
    flex: 5;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    .players {
        flex-direction: column;
    }
}

.user, .bot {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.log {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
    color: black;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.score-dot {
    border-radius: 0.3rem;
    aspect-ratio: 1 / 1;
    width: 1.5rem;
    background-color: white;
}

.user .score-dot.activated {
    background-color: red;
}

.bot .score-dot.activated {
    background-color: blue;
}


.move-card {
    background-color: aliceblue;
    border-radius: 2rem;
    margin: 1px;
    max-height: 80%;
    aspect-ratio: 1 / 1;
}


.move-desc {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    align-self: center;
    margin-top: -1rem;
}

.play-buttons {
    margin: 1px;
    margin: 1px;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

button {
    background-color: #2563EB;
    color: #F1F5F9;
    font-size: 2rem;
    padding: 0.3em 0.8em;     
    border-radius: 0.7em;     
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease, transform 0.15s ease;
    &:hover{
        background-color: #1D4ED8;
        transform: scale(1.035) translateY(-2.5px);
    }
    &:active {
        background-color: #1E40AF;
        transform: scale(0.97);
    }
}